.navbar {
    display: flex;
    justify-content: space-between;
    /* pushes right side */
    align-items: center;
    background: #2563eb;
    padding: 15px 30px;
    color: white;
}

/* Right section */
.navbar div {
    display: flex;
    align-items: center;
}

/* Links */
.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    /* FIX: visible */
    font-weight: 500;
}

/* Hover */
.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 8px;
    border-radius: 5px;
}

/* Logout button */
.logout-btn {
    margin-left: 20px;
    padding: 6px 12px;
    background: white;
    color: #2563eb;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}